.card-img,
.card-img-top,
.card-img-bottom {
  width: 100%;
}

.card-img,
.card-img-top {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-img,
.card-img-bottom {
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}
.card-icon{
  color: #05B184;
  color: #05B184;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 50%;
   
}
.card:hover{
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.14);
}
.card:hover .card-icon {
  background-color: #05B184;
  color: white;
  border-color: white; 
}

